<div class="title-container hidden">
  <div class="title-content">
    <div class="line"></div>
    <h1>{{ translateService.getTranslation("contact.title") }}</h1>
  </div>
</div>
<div id="contact" class="container">
  <div class="content">
    <div class="content-left hidden">
      <h3>{{ translateService.getTranslation("contact.subtitle") }}</h3>
      <p>
        {{ translateService.getTranslation("contact.text1") }}
      </p>
      <p>{{ translateService.getTranslation("contact.text2") }}</p>
    </div>
    <div class="content-right hidden-right">
      <form id="form" (ngSubmit)="onSubmit(contactForm)" #contactForm="ngForm">
        <div class="input-control">
          <label for="username"></label>
          <input
            [(ngModel)]="contactData.name"
            id="username"
            name="username"
            type="text"
            placeholder="{{ translateService.getTranslation('contact.name') }}"
          />
          <div class="error"></div>
        </div>
        <div class="input-control">
          <label for="email"></label>
          <input
            [(ngModel)]="contactData.email"
            id="email"
            name="email"
            type="text"
            placeholder="{{ translateService.getTranslation('contact.email') }}"
          />
          <div class="error"></div>
        </div>
        <div class="input-control">
          <label for="textarea"></label>
          <textarea
            [(ngModel)]="contactData.message"
            name="textarea"
            id="textarea"
            placeholder="{{
              translateService.getTranslation('contact.message')
            }}"
          ></textarea>
          <div class="error"></div>
        </div>
        <div class="input-control checkbox-container">
          <input
            type="checkbox"
            name="checkbox"
            id="checkbox"
            class="checkbox"
          />
          <label for="checkbox" class="button1"></label>
          <p class="checkbox-text">
            {{ translateService.getTranslation("contact.privacy1") }}
            <a class="link" (click)="gotoPrivacyPolicy()"
              >&nbsp;{{
                translateService.getTranslation("contact.privacy2")
              }}&nbsp;</a
            >
            {{ translateService.getTranslation("contact.privacy3") }}
          </p>
          <div class="error"></div>
        </div>
        <button id="button" type="submit" class="inactive">
          {{ translateService.getTranslation("contact.send") }}
        </button>
      </form>
    </div>
  </div>
</div>
