<div id="contact" class="container">
  <div class="line-container">
    <div class="line"></div>
  </div>
  <div class="title-container">
    <h1>Contact</h1>
  </div>
  <div class="content">
    <div class="content-left">
      <h3>Got a problem to solve?</h3>
      <p>
        Contact me through this form, I am interested in hearing from you,
        knowing your ideas and contributing to your projects with my work.
      </p>
      <p>Need a Frontend developer? Contact me!</p>
    </div>
    <div class="content-right">
      <form id="form" (ngSubmit)="onSubmit()" action="/">
        <div class="input-control">
          <label for="username"></label>
          <input
            id="username"
            name="username"
            type="text"
            placeholder="Your name"
          />
          <div class="error"></div>
        </div>
        <div class="input-control">
          <label for="email"></label>
          <input id="email" name="email" type="text" placeholder="Your email" />
          <div class="error"></div>
        </div>
        <div class="input-control">
          <label for="textarea"></label>
          <textarea
            name="textarea"
            id="textarea"
            placeholder="Your message"
          ></textarea>
          <div class="error"></div>
        </div>
        <div class="input-control checkbox-container">
          <input
            type="checkbox"
            name="checkbox"
            id="checkbox"
            class="checkbox"
          />
          <label for="checkbox" class="button1"></label>
          <p>
            I've read the <a href="">privacy policy</a> and agree to the
            processing of my data as outlined.
          </p>
          <div class="error"></div>
        </div>
        <button id="button" type="submit" class="inactive">Send message</button>
      </form>
    </div>
  </div>
</div>
