@import "./../../../styles.scss";

.container {
  height: 100vh;
  position: relative;
  @include setFlex(row, center, flex-start);
  background-image: url("./../../../assets/img/shapes/shape8.svg");
  background-repeat: no-repeat;
  background-size: 35%;
  background-position-y: 300px;
  overflow: hidden;
}

.title-container {
  height: 100px;
  width: 100%;
  @include setFlex(row, center, flex-start);
}

.content {
  position: relative;
  width: 100%;
  max-width: 1440px;
  @include setFlex(row, center, flex-start);
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 85px;
}

.title-content {
  position: relative;
  width: 100%;
  max-width: 1440px;
  @include setFlex(row, flex-start, center);
  padding-left: 100px;
  padding-right: 100px;
}

.link {
  color: $neon-purple;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}

.checkbox-text {
  @include setFlex(row, flex-start, center);
  flex-wrap: wrap;
}

.line {
  position: absolute;
  right: 95%;
  width: 100vw;
  height: 4px;
  background-color: $neon-purple;
}

.content-left {
  width: 40%;
  margin-right: 150px;
  h3 {
    color: white;
  }
}

.content-right {
  width: 50%;

  form {
    @include setFlex(column, center, center);
    width: 100%;

    button {
      all: unset;
      @include setButton(fit-content, 40px, $neon-green);
      @include setFlex(row, center, center);
      margin-top: 20px;
      margin-bottom: 30px;
      padding: 10px 24px 10px 24px;
      &:hover {
        transform: scale(1.1);
        background-color: $neon-purple;
        transition: 0.3s ease-in-out;
      }
      transition: 0.3s ease-in-out;
      cursor: pointer;
    }

    .inactive {
      @include setButton(fit-content, 40px, #b6b6b6);
      margin-bottom: 30px;
      cursor: default;
      &:hover {
        transform: scale(1);
        background-color: #b6b6b6;
        pointer-events: none;
      }
    }
  }

  .checkbox {
    display: none;
  }

  .checkbox + label.button1 {
    width: 100%;
    max-width: 24px;
    margin-left: 8px;
    margin-right: 8px;
    aspect-ratio: 1/1;
    display: inline-block;
    background-image: url("./../../../assets/img/icons/checkbox.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    -webkit-transition: none;
    -moz-transition: none;
    transition: none;
    border: none;
    cursor: pointer;
  }

  .checkbox + label.button1:hover {
    background-image: url("./../../../assets/img/icons/checkbox-hover.svg");
  }

  .checkbox:checked + label.button1 {
    background-image: url("./../../../assets/img/icons/checkbox-checked.svg");
  }

  .checkbox:checked + label.button1:hover {
    background-image: url("./../../../assets/img/icons/checkbox-checked-hover.svg");
  }
}

.input-control {
  display: flex;
  flex-direction: column;
  width: 100%;
  input:-webkit-autofill,
  input:-webkit-autofill:focus {
    transition: background-color 600000s 0s, color 600000s 0s;
    font-size: 16px;
  }
  input[data-autocompleted] {
    background-color: transparent !important;
  }
  input {
    all: unset;
    border: 2px solid $neon-purple;
    border-radius: 10px;
    display: block;
    font-size: 16px;
    padding: 15px;
    width: 90%;

    &:focus {
      outline: 0;
      border: 2px solid $neon-green;
    }

    &::placeholder {
      color: white;
      opacity: 1;
    }

    &::-ms-input-placeholder {
      color: white;
    }
  }

  textarea {
    all: unset;
    width: 90%;
    height: 200px;
    border-radius: 10px;
    padding: 15px;
    border: 2px solid $neon-purple;

    &:focus {
      border: 2px solid $neon-green;
    }

    &::placeholder {
      color: white;
      opacity: 1;
    }

    &::-ms-input-placeholder {
      color: white;
    }
  }

  button {
    cursor: pointer;
  }
}

.input-control.success input {
  border-color: $neon-green;
}

.input-control.error input {
  border-color: $neon-red;
}

.input-control.success textarea {
  border-color: $neon-green;
}

.input-control.error textarea {
  border-color: $neon-red;
}

.input-control .error {
  color: $neon-red;
  font-size: 9px;
  height: 13px;
}

.checkbox-container {
  @include setFlex(row, flex-start, center);
  width: 100%;
  margin-right: 20px;
  p {
    font-size: 14px;
    margin: 0;
  }
  a {
    color: $neon-purple;
    text-decoration: none;
    font-size: 14px;
    &:hover {
      text-decoration: underline;
    }
  }
}

.error {
  padding-top: 8px;
  padding-bottom: 8px;
}

.d-none {
  display: none;
}

@media screen and (max-width: 1100px) {
  .container {
    height: fit-content;
    grid-template-rows: auto auto;
    padding-top: 0;
  }

  .title-container {
    padding-left: 0;
  }

  .title-content {
    padding-left: 50px;
    padding-right: 50px;
  }

  .content {
    @include setFlex(column, center, center);
    height: fit-content;
    padding-left: 50px;
    padding-right: 50px;
  }

  .content-left {
    width: 100%;
    margin-right: 0;
  }

  .content-right {
    width: 100%;
  }

  .line {
    margin-right: 8px;
  }
}

@media screen and (max-width: 480px) {
  .title-content {
    padding-left: 25px;
    padding-right: 25px;
  }

  .content {
    padding-left: 25px;
    padding-right: 25px;
  }
}
