<div class="container">
  <div id="about" class="content">
    <div class="content-left hidden">
      <h1>{{ translateService.getTranslation("about.title") }}</h1>
      <p>
        {{ translateService.getTranslation("about.text1") }}
      </p>
      <div class="text-container">
        <img src="./assets/img/icons/bulbs/bulb.svg" alt="" />
        <div class="about-text">
          {{ translateService.getTranslation("about.text2") }}
        </div>
      </div>
      <br />
      <div class="text-container">
        <img src="./assets/img/icons/puzzles/puzzle.svg" alt="" />
        <div class="about-text">
          {{ translateService.getTranslation("about.text3") }}
        </div>
      </div>
    </div>
    <div class="content-right hidden-right">
      <div class="profile-img"></div>
      <div class="profile-line"></div>
    </div>
  </div>
</div>
