@import "./../../../styles.scss";

.container {
  // @include setFlex(column, center, center);
  position: relative;
  min-height: 50vh;
  z-index: 4;
  background-image: url("./../../../assets/img/shapes/shape1.svg");
  background-repeat: no-repeat;
  background-size: 30%;
  background-position-x: 120%;
  background-position-y: 5%;
  display: grid;
  grid-template-rows: 100px auto-fit;
  grid-template-columns: 1fr 1440px 1fr;
}

.line-content {
  @include setFlex(row, flex-start, center);
  width: 100%;
  z-index: 3;
  span {
    cursor: pointer;
    &:hover {
      color: $neon-green;
      transition: 0.3s ease-in-out;
    }
    transition: 0.3s ease-in-out;
  }
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 2;
  grid-column-end: 4;
}

.line-container {
  @include setFlex(row, flex-end, center);
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 1;
  grid-column-end: 2;
}

.content {
  padding-top: 15vh;
  position: relative;
  width: 100%;
  max-width: 1440px;
  @include setFlex(row, space-between, flex-start);
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 2;
  grid-column-end: 3;
}

.content-left {
  p {
    width: 480px;
  }
}

.social-network {
  padding-left: 21px;
  padding-right: 21px;
  img {
    padding: 21px;
    &:hover {
      cursor: pointer;
      transform: scale(1.3);
      transition: 0.3s ease-in-out;
    }
    transition: 0.3s ease-in-out;
  }
}

.line {
  width: 100%;
  height: 4px;
  background-color: $neon-purple;
}

.profile-img {
  width: 450px;
  height: 450px;
  background-image: url("./../../../assets/img/profile/hanbit-chang.png");
  background-repeat: no-repeat;
  background-size: 80%;
  background-position-x: 40%;
  border-radius: 50%;
  border: 5px solid $neon-green;
  &:hover {
    background-color: rgb(116, 116, 116);
    transition: 0.3s ease-in-out;
  }
  transition: 0.3s ease-in-out;
}

.profile-line {
  width: 100%;
  height: 4px;
  background-color: $neon-green;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.profile-line-container {
  margin-top: 15vh;
  width: 100%;
  height: 450px;
  @include setFlex(row, flex-start, center);
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 3;
  grid-column-end: 4;
}
