<div class="container">
  <div class="line-container">
    <div class="line"></div>
  </div>
  <div class="line-content">
    <section class="social-network">
      <a href="https://github.com/hanbit10" target="_blank">
        <img src="./assets/img/buttons/github-button.svg" alt="github" />
      </a>
      <a href="chanbit10@gmail.com">
        <img src="./assets/img/buttons/mail-button.svg" alt="mail" />
      </a>
      <a href="https://www.linkedin.com/in/hanbitchang/" target="_blank">
        <img src="./assets/img/buttons/linked-button.svg" alt="linkedin" />
      </a>
    </section>
    <span>chanbit10&#64;gmail.com</span>
  </div>
  <div class="content">
    <div class="content-left">
      <h1>About Me</h1>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia
        obcaecati, exercitationem repellat explicabo tempora hic, perspiciatis
        velit in excepturi dolore dolorum ullam ipsum aperiam minima
        consequuntur quaerat molestias laboriosam quo.
      </p>
    </div>
    <div class="content-right">
      <div class="profile-img"></div>
    </div>
  </div>
  <div class="profile-line-container">
    <div class="profile-line"></div>
  </div>
</div>
