@import "./../../../styles.scss";

.container {
  width: 100%;
  min-height: 100vh;
  position: relative;
  @include setFlex(column, center, center);
}

$bar-width: 40px;
$bar-height: 2px;
$hamburger-gap: 16px;
$foreground: #868686;
$background: white;
$hamburger-margin: 8px;
$animation-timing: 200ms ease-in-out;
$hamburger-height: calc($bar-height * 3 + $hamburger-gap * 2);
$x-width: calc($hamburger-height * 1.41421356237);

.hamburger-menu {
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  gap: $hamburger-gap;
  width: max-content;
  position: absolute;
  top: $hamburger-margin;
  right: $hamburger-margin;
  z-index: 15;
  cursor: pointer;
}

.hamburger-menu:has(input:checked) {
  $foreground: white;
  $background: #333;
}

.hamburger-menu:has(input:focus-visible)::before,
.hamburger-menu:has(input:focus-visible)::after,
.hamburger-menu input:focus-visible {
  border: 1px solid white;
  box-shadow: 0 0 0 1px $background;
}

.hamburger-menu::before,
.hamburger-menu::after,
.hamburger-menu input {
  content: "";
  width: $bar-width;
  height: $bar-height;
  background-color: white;
  border-radius: 9999px;
  transform-origin: left center;
  transition: opacity $animation-timing, width $animation-timing,
    rotate $animation-timing, translate $animation-timing,
    background-color $animation-timing;
}

.hamburger-menu input {
  appearance: none;
  padding: 0;
  margin: 0;
  outline: none;
  pointer-events: none;
}

.hamburger-menu:has(input:checked)::before {
  rotate: 45deg;
  width: $x-width;
  translate: 0 calc($bar-height / -2);
}

.hamburger-menu:has(input:checked)::after {
  rotate: -45deg;
  width: $x-width;
  translate: 0 calc($bar-height / 2);
}

.hamburger-menu input:checked {
  opacity: 0;
  width: 0;
}

.sidebar {
  transition: translate $animation-timing;
  translate: 100%;
  padding: 0.5rem 1rem;
  padding-top: calc($hamburger-height + $hamburger-margin + 1rem);
  background-color: $foreground;
  color: $background;
  width: 100%;
  max-width: 100%;
  min-height: 100vh;
}

.hamburger-menu:has(input:checked) + .sidebar {
  translate: 0;
}
