@import "./../../../styles.scss";

.container {
  position: relative;
  @include setFlex($direction: row, $justify: space-between, $align: center);
  height: 30vh;
  padding-top: 20px;
  padding-right: 100px;
  padding-left: 100px;
  border-top: 4px solid $neon-green;
}

.container-left {
  @include setFlex(
    $direction: column,
    $justify: flex-start,
    $align: flex-start
  );
}

.logo-container {
  @include setFlex($direction: row, $justify: flex-start, $align: flex-start);
}

.logo {
  @include setFont(bold, 70px);
  color: white;
}

.green {
  color: $neon-green;
}

.purple {
  color: $neon-purple;
}

.text {
  font-size: 1.5rem;
  font-weight: 400;
}

.impressum {
  cursor: pointer;
  &:hover {
    border-bottom: 1px solid;
    border-image: linear-gradient(to right, #ffffff 50%, transparent 50%) 100% 1;
  }
}
