@import "./../../../styles.scss";

.container {
  position: relative;
  @include setFlex(row, center, center);
  min-height: 200px;
  border-top: 4px solid $neon-green;
}

.content {
  width: 100%;
  max-width: 1440px;
  @include setFlex(row, space-between, center);
  padding-left: 100px;
  padding-right: 100px;
}

.container-left {
  @include setFlex(column, flex-start, flex-start);
}

.logo-container {
  @include setFlex(row, flex-start, flex-start);
  text-decoration: none;

  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
  cursor: pointer;
}

.logo {
  @include setFont(bold, 70px);
  color: white;
}

.green {
  color: $neon-green;
}

.purple {
  color: $neon-purple;
}

.text {
  font-size: 1.5rem;
  font-weight: 400;
}

.impressum {
  padding-bottom: 2px;
  cursor: pointer;
  &:hover {
    padding-bottom: 0px;
    border-bottom: 2px solid;
    border-image: linear-gradient(to right, $neon-blue 50%, transparent 50%)
      100% 1;
  }
}

.social-network {
  img {
    padding: 21px;
    &:hover {
      cursor: pointer;
      transform: scale(1.3);
      transition: 0.15s ease-in-out;
    }
    transition: 0.15s ease-in-out;
  }
}

.mobile {
  display: none;
}

@media screen and (max-width: 1100px) {
  .container {
    padding-left: 10px;
    padding-right: 10px;
    flex-direction: column;
  }

  .content {
    flex-direction: column;
    padding-left: 50px;
    padding-right: 50px;
  }

  .mobile {
    display: block;
  }

  .desktop {
    display: none;
  }
}
