<div class="container">
  <div class="content">
    <div class="container-left">
      <div class="logo-container">
        <div class="logo green">H</div>
        <div class="logo">a</div>
        <div class="logo">n</div>
        <div class="logo">b</div>
        <div class="logo purple">i</div>
        <div class="logo">t</div>
      </div>
      <div class="impressum" (click)="gotoImpressum()">Impressum</div>
    </div>
    <div class="text">©Hanbit Chang 2024</div>
    <section class="social-network">
      <a href="https://github.com/hanbit10" target="_blank">
        <img src="./assets/img/buttons/github-button.svg" alt="github" />
      </a>
      <a href="chanbit10@gmail.com">
        <img src="./assets/img/buttons/mail-button.svg" alt="mail" />
      </a>
      <a href="https://www.linkedin.com/in/hanbitchang/" target="_blank">
        <img src="./assets/img/buttons/linked-button.svg" alt="linkedin" />
      </a>
    </section>
  </div>
</div>
