@import "./../../../styles.scss";

.container {
  position: fixed;
  @include setFlex(row, center, center);
  top: 0;
  left: 0;
  width: 100%;
  height: 10vh;
  background-color: $background-color;
  z-index: 100;
}

.nav {
  @include setFlex(row, flex-end, center);
}

.language {
  @include setFlex(row, center, center);
  @include setButton(30px, 30px);
  margin: 14px;
  &:hover {
    background-color: $neon-purple;
    transition: 0.15s ease-in-out;
  }
  transition: 0.15s ease-in-out;
}

.content {
  width: 100%;
  max-width: 1440px;
  height: fit-content;
  padding-right: 100px;
  padding-left: 100px;
  @include setFlex(row, space-between, center);
}

.container-left {
  @include setFlex(
    $direction: column,
    $justify: flex-start,
    $align: flex-start
  );
}

.container-right {
  a {
    text-decoration: none;
    color: white;
    padding: 14px;
    &:hover {
      color: $neon-green;
      transition: 0.15s ease-in-out;
    }
  }
}

.logo-container {
  @include setFlex(row, flex-start, flex-start);
  a {
    @include setFlex(row, flex-start, flex-start);
    text-decoration: none;
  }
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
}

.logo {
  @include setFont(bold, 2rem);
  color: white;
}

.green {
  color: $neon-green;
}

.purple {
  color: $neon-purple;
}

.burger-nav {
  display: none;
}

@media screen and (max-width: 1100px) {
  .content {
    padding-right: 50px;
    padding-left: 50px;
  }
}

@media screen and (max-width: 1100px) {
  $bar-width: 40px;
  $bar-height: 2px;
  $hamburger-gap: 16px;
  $hamburger-margin: 4vw;
  $foreground: #868686;
  $background: white;

  $animation-timing: 200ms ease-in-out;
  $hamburger-height: calc($bar-height * 3 + $hamburger-gap * 2);
  $x-width: calc($hamburger-height * 1.41421356237);

  .nav {
    display: none;
  }

  .language {
    margin-top: 24px;
  }

  .burger-nav {
    display: block;
  }

  .burger-container {
    position: relative;
    width: 50px;
    height: 50px;
    @include setFlex(column, center, center);
  }

  .hamburger-menu {
    display: flex;
    flex-direction: column;
    gap: $hamburger-gap;
    position: absolute;
    top: $hamburger-margin;
    right: $hamburger-margin;
    z-index: 15;
    cursor: pointer;
  }

  .hamburger-menu:has(input:checked) {
    $foreground: white;
    $background: #333;
  }

  .hamburger-menu::before,
  .hamburger-menu::after,
  .hamburger-menu input {
    content: "";
    width: $bar-width;
    height: $bar-height;
    background-color: white;
    border-radius: 9999px;
    transform-origin: left center;
    transition: opacity $animation-timing, width $animation-timing,
      rotate $animation-timing, translate $animation-timing,
      background-color $animation-timing;

    &:hover {
      background-color: $neon-green;
    }
  }

  .hamburger-menu input {
    appearance: none;
    padding: 0;
    margin: 0;
    outline: none;
    pointer-events: none;
  }

  .hamburger-menu:has(input:checked)::before {
    rotate: 45deg;
    width: $x-width;
    translate: 0 calc($bar-height / -2);
  }

  .hamburger-menu:has(input:checked)::after {
    rotate: -45deg;
    width: $x-width;
    translate: 0 calc($bar-height / 2);
  }

  .hamburger-menu input:checked {
    opacity: 0;
    width: 0;
  }

  .sidebar {
    position: fixed;
    top: 10vh;
    left: 0;
    transition: translate $animation-timing;
    translate: 100%;
    padding-top: calc($hamburger-height + $hamburger-margin + 1rem);
    background-color: rgb(138, 138, 138);
    color: $background;
    width: 100%;
    max-width: 100%;
    min-height: 100vh;
    z-index: 15;
  }

  .hamburger-menu:has(input:checked) + .sidebar {
    translate: 0;
  }

  nav {
    @include setFlex(column, space-between, center);
  }
}

@media screen and (max-height: 500px) {
  .content {
    padding-right: 25px;
    padding-left: 25px;
  }

  .hamburger-menu::before,
  .hamburger-menu::after,
  .hamburger-menu input {
    content: "";
    width: 20px;
  }

  .hamburger-menu {
    gap: 8px;
    top: 2vw;
    right: 2vw;
  }
}
