<div id="header" class="container">
  <div class="content">
    <div class="container-left">
      <div class="logo-container">
        <a href="#" (click)="gotoHeader()">
          <div class="logo green">H</div>
          <div class="logo">a</div>
          <div class="logo">n</div>
          <div class="logo">b</div>
          <div class="logo purple">i</div>
          <div class="logo">t</div></a
        >
      </div>
    </div>
    <div class="container-right">
      <div class="nav">
        <a href="#about">{{
          translateService.getTranslation("header.nav1")
        }}</a>
        <a href="#skills">{{
          translateService.getTranslation("header.nav2")
        }}</a>
        <a href="#portfolios">
          {{ translateService.getTranslation("header.nav3") }}</a
        >
        <div id="en" class="language" (click)="changeLanguage('en')">EN</div>
        <div id="de" class="language" (click)="changeLanguage('de')">DE</div>
      </div>
      <div class="burger-nav">
        <label class="hamburger-menu">
          <input id="burger-checkbox" type="checkbox" />
        </label>
        <aside class="sidebar" id="sidebar">
          <nav>
            <a href="#about" (click)="closeNav()">
              {{ translateService.getTranslation("header.nav1") }}</a
            >
            <a href="#skills" (click)="closeNav()">
              {{ translateService.getTranslation("header.nav2") }}
            </a>
            <a href="#portfolios" (click)="closeNav()">
              {{ translateService.getTranslation("header.nav3") }}</a
            >
            <a href="#contact" (click)="closeNav()">
              {{ translateService.getTranslation("header.nav4") }}</a
            >
            <div
              class="language"
              (click)="closeNav()"
              (click)="changeLanguage('en')"
            >
              EN
            </div>
            <div
              class="language"
              (click)="closeNav()"
              (click)="changeLanguage('de')"
            >
              DE
            </div>
          </nav>
        </aside>
      </div>
    </div>
  </div>
</div>
