<app-header></app-header>
<div class="container">
  <div class="content">
    <div class="column">
      <h1>Impressum</h1>
      <p>
        Hanbit Chang<br />
        Alexianergraben<br />
        40<br />
        52062 Aachen
      </p>
      <h2>Kontakt</h2>
      <p>
        Telefon: 015774128843<br />
        E-Mail: chanbit10&#64;gmail.com
      </p>
      <p>
        Quelle:
        <a href="https://www.e-recht24.de/impressum-generator.html"
          >https://www.e-recht24.de/impressum-generator.html</a
        >
      </p>
    </div>
  </div>
</div>

<app-footer></app-footer>
