@import "./../../../styles.scss";

h1 {
  font-size: 48px;
}

h2 {
  font-size: 32px;
}

a {
  color: $neon-blue;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

.container {
  position: relative;
  width: 100%;
  margin-top: 15vh;
  @include setFlex(row, center, flex-start);
  background-image: url("./../../../assets/img/shapes/shape6.svg");
  background-repeat: no-repeat;
  background-size: 15%;
  background-position-x: 100%;
  background-position-y: 55%;
}

.content {
  position: relative;
  width: 100%;
  max-width: 1440px;
  @include setFlex(row, space-between, center);
  padding-left: 100px;
  padding-right: 100px;
}

.column {
  width: 100%;
  max-width: 720px;
}

@media screen and (max-width: 1100px) {
  .content {
    padding-left: 50px;
    padding-right: 50px;
  }
}

@media screen and (max-width: 480px) {
  .content {
    padding-left: 25px;
    padding-right: 25px;
  }
}
