<app-header></app-header>
<div class="container">
  <div class="content">
    <div class="column">
      <h1>{{ translateService.getTranslation("imprint.title") }}</h1>
      <p>
        Hanbit Chang<br />
        Alexianergraben<br />
        40<br />
        52062 Aachen
      </p>
      <h2>{{ translateService.getTranslation("imprint.contact.0") }}</h2>
      <p>
        {{ translateService.getTranslation("imprint.contact.1") }}<br />
        E-Mail: chanbit10&#64;gmail.com
      </p>
      <p>
        {{ translateService.getTranslation("imprint.quelle.0") }}
        <a href="https://www.e-recht24.de/impressum-generator.html"
          >https://www.e-recht24.de/impressum-generator.html</a
        >
      </p>
    </div>
  </div>
</div>

<app-footer></app-footer>
