@import "./../../../styles.scss";

.container {
  min-height: 100vh;
  position: relative;
  @include setFlex(column, flex-start, center);
  background-image: url("./../../../assets/img/shapes/shape6.svg");
  background-repeat: no-repeat;
  background-size: 35%;
  background-position-x: 120%;
  background-position-y: 55%;
}

.title-section {
  width: 100%;
  display: grid;
  grid-template-rows: 80px, 100px;
  grid-template-columns: 1fr 500px 1fr;
}

.title-container {
  width: 500px;
  @include setFlex(row, center, center);
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 2;
  grid-column-end: 3;
}

.title-text {
  @include setFlex(row, center, center);
  font-size: 16px;
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 1;
  grid-column-end: 4;
}

.line-container1 {
  width: 100%;
  height: 100%;
  // background-color: antiquewhite;
  @include setFlex(row, flex-end, center);
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 1;
  grid-column-end: 2;
}

.line-container2 {
  width: 100%;
  height: 100%;
  // background-color: antiquewhite;
  @include setFlex(row, center, center);
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 3;
  grid-column-end: 4;
}

.line1 {
  width: 20%;
  height: 4px;
  background-color: $neon-purple;
}

.line2 {
  width: 100%;
  height: 4px;
  background-color: $neon-purple;
}

.content {
  position: relative;
  width: 100%;
  max-width: 1440px;
  margin-top: 110px;
  @include setFlex(column, center, center);
}

.portfolio {
  width: 100%;
  max-width: 1440px;
  height: fit-content;
  @include setFlex(row, center, center);
}

.portfolio-img {
  width: 100%;
  max-width: 400px;
  aspect-ratio: 1/1;
}

.portfolio-info {
  width: 50%;
  height: fit-content;
  p {
    font-size: 16px;
  }
}

.right-position {
  flex-direction: row-reverse;
}

.img-container {
  width: 600px;
  height: fit-content;
  @include setFlex(row, center, center);
}

.btn-container {
  width: 100%;
  @include setFlex(row, flex-start, center);
  margin-top: 20px;
  .btn {
    @include setButton(160px, 60px, $neon-purple);
    @include setFlex(row, center, center);
    margin-right: 50px;
    cursor: pointer;
    &:hover {
      transform: scale(1.1);
      background-color: $neon-green;
      transition: 0.3s ease-in-out;
    }
    transition: 0.3s ease-in-out;
  }

  .transparent {
    background-color: transparent;
    border: 1px solid $neon-green;
  }
}

.text-end {
  text-align: end;
}

.f-end {
  justify-content: flex-end;
  margin-right: 0;
  margin-left: 50px;
}
