<div class="container">
  <section class="title-section">
    <div class="line-container1">
      <div class="line1"></div>
    </div>
    <div class="title-container">
      <h1>Portfolio</h1>
    </div>
    <div class="title-text">
      <p>
        Explore a selection of my work here - Interact with projects to see my
        skills in action.
      </p>
    </div>
    <div class="line-container2">
      <div class="line2"></div>
    </div>
  </section>
  <div class="content">
    <div class="portfolio" id="1">
      <div class="portfolio-img">
        <img src="./assets/img/portfolios/pokedex.png" alt="" />
      </div>
      <div class="portfolio-info">1</div>
    </div>
    <div class="portfolio" id="2">
      <div class="portfolio-img">
        <img src="./assets/img/portfolios/pokedex.svg" appIgnoreNg0913 alt="" />
      </div>
      <div class="portfolio-info">2</div>
    </div>
    <div class="portfolio" id="3">
      <div class="portfolio-img">
        <img src="./assets/img/portfolios/join.png" appIgnoreNg0913 alt="" />
      </div>
      <div class="portfolio-info">3</div>
    </div>
    <div class="portfolio" id="4">
      <div class="portfolio-img">
        <img src="./assets/img/portfolios/simple-crm.png" alt="" />
      </div>
      <div class="portfolio-info">4</div>
    </div>
  </div>
</div>
