<div id="portfolios" class="container">
  <section class="title-section">
    <div class="line-container1">
      <div class="line1"></div>
    </div>
    <div class="title-container">
      <h1>Portfolio</h1>
    </div>
    <div class="title-text">
      <p>
        Explore a selection of my work here - Interact with projects to see my
        skills in action.
      </p>
    </div>
    <div class="line-container2">
      <div class="line2"></div>
    </div>
  </section>
  <div class="content">
    <div class="portfolio" id="1">
      <div class="img-container">
        <img
          class="portfolio-img"
          src="./assets/img/portfolios/join.svg"
          alt=""
        />
      </div>

      <div class="portfolio-info">
        <h3>Join</h3>
        <h4>Angular | TypeScript | HTML | CSS | Firebase</h4>
        <p>
          Task manager inspired by the Kanban System. Create and organize tasks
          using drag and drop functions, assign users and categories.
        </p>
        <div class="btn-container">
          <div class="btn purple">Live test</div>
          <div class="btn transparent">Github</div>
        </div>
      </div>
    </div>
    <div class="portfolio" id="2">
      <div class="img-container">
        <img
          class="portfolio-img"
          src="./assets/img/portfolios/el-polo-loco.svg"
          alt=""
        />
      </div>
      <div class="portfolio-info">
        <h3 id="title">El Polo Loco</h3>
        <h4 id="skills">JavaScript | HTML | CSS</h4>
        <p id="description">
          Jump and Run Game with object-oriented approach. Help Pepe find coins
          and throw Tabasco bottles to fight against the crazy chicken.
        </p>
        <div class="btn-container">
          <div class="btn purple">Live test</div>
          <div class="btn transparent">Github</div>
        </div>
      </div>
    </div>
    <div class="portfolio" id="3">
      <div class="img-container">
        <img
          class="portfolio-img"
          src="./assets/img/portfolios/simple.svg"
          alt=""
        />
      </div>
      <div class="portfolio-info">
        <h3>Simple CRM</h3>
        <h4>Angular | Firebase</h4>
        <p>
          A very Simple Customer Relationship Management system working with
          CRUD functionality.
        </p>
        <div class="btn-container">
          <div class="btn purple">Live test</div>
          <div class="btn transparent">Github</div>
        </div>
      </div>
    </div>
    <div class="portfolio" id="4">
      <div class="img-container">
        <img
          class="portfolio-img"
          src="./assets/img/portfolios/pokedex.svg"
          alt=""
        />
      </div>
      <div class="portfolio-info">
        <h3 id="title">Pokédex</h3>
        <h4 id="skills">JavaScript | HTML | CSS | API</h4>
        <p id="description">
          Based on the PokéAPI a simple library that provides and catalogues
          pokemon information.
        </p>
        <div class="btn-container">
          <div class="btn purple">Live test</div>
          <div class="btn transparent">Github</div>
        </div>
      </div>
    </div>
  </div>
</div>
