@import "./../../../styles.scss";

.container {
  height: 100vh;
  padding-top: 5vh;
  position: relative;
  @include setFlex(row, center, center);
}

.content {
  position: relative;
  width: 100%;
  max-width: 1440px;
  @include setFlex(row, space-between, center);
  background-image: url("./../../../assets/img/shapes/shape-profile.svg");
  background-repeat: no-repeat;
  background-size: 50%;
}

.content-left {
  @include setFlex(column, center, center);
  padding-left: 40px;
  img {
    padding-left: 40px;
    width: 450px;
    height: 700px;
  }
}

.content-right {
  @include setFlex(column, space-between, center);
  padding-right: 40px;
  z-index: 2;
}

.i-am {
  height: 100%;
  font-size: 64px;
  letter-spacing: 5px;
  transform: rotate(270deg);
}

.name {
  @include setFont(bold, 90px);
  font-family: Poppins700;
  letter-spacing: -2px;
}

.text {
  @include setFont(normal, 58px);
}

.name-container {
  @include setFlex(column, center, center);
}

.purple {
  color: $neon-purple;
}

.row {
  @include setFlex(row, center, center);
}

.btn {
  margin-top: 40px;
  @include setButton(160px, 60px, $neon-green);
  @include setFlex(row, center, center);
  &:hover {
    transform: scale(1.1);
    transition: 0.3s ease-in-out;
    background-color: $neon-purple;
  }
  transition: 0.3s ease-in-out;
}

.vector {
  position: absolute;
  width: 100%;
  // max-width: 1440px;
  top: 20%;
  bottom: 0;
  left: 0;
}
