@import "./../../../styles.scss";

.container {
  width: 100%;
  height: 85vh;
  position: relative;
  @include setFlex(column, flex-start, center);
  margin-bottom: 100px;
  overflow: hidden;
}

.content {
  position: relative;
  width: 100%;
  max-width: 1440px;
  @include setFlex(row, space-between, center);
  background-image: url("./../../../assets/img/shapes/shape-profile.svg");
  background-repeat: no-repeat;
  background-size: 45%;
  background-position-y: 55%;
}

.content-left {
  @include setFlex(column, center, center);
  padding-left: 50px;
  img {
    padding-left: 50px;
    width: 400px;
    aspect-ratio: 6/9;
  }
}

.content-right {
  @include setFlex(column, space-between, center);
  padding-right: 40px;
  width: 100%;
  z-index: 2;
}

.iam {
  width: 100%;
  max-width: 55px;
  padding-right: 30px;
  padding-top: 10px;
}

.hanbit-chang {
  right: 20px;
}

.text {
  @include setFont(normal, 58px);
}

.name-container {
  @include setFlex(column, center, center);
}

.purple {
  color: $neon-purple;
}

.row {
  @include setFlex(row, center, center);
  width: 100%;
}

.btn {
  margin-top: 40px;
  @include setButton(fit-content, 60px, $neon-green);
  @include setFlex(row, center, center);
  &:hover {
    transform: scale(1.1);
    transition: 0.3s ease-in-out;
    background-color: $neon-purple;
  }
  transition: 0.3s ease-in-out;

  a {
    text-decoration: none;
    color: white;
  }
}

.vector {
  position: absolute;
  width: 100%;
  top: 10%;
  left: 0;
}

.scrolldown {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 10;
}

@media only screen and (max-width: 1300px) {
  .text {
    font-size: 42px;
  }
}

@media only screen and (max-width: 1100px) {
  .container {
    overflow: hidden;
  }
  .content {
    height: 85vh;
    @include setFlex(column, flex-start, center);
    width: 100vw;
  }

  .content-left {
    padding-left: 0;
    width: 100%;
    img {
      width: 30%;
      aspect-ratio: 6/9;

      padding-left: 0;
    }
  }

  .iam {
    width: 100%;
    max-width: 30px;
    padding-left: 8px;
    padding-right: 8px;
  }

  .content-right {
    width: 100%;
    padding-right: 0;
  }

  .row {
    width: 100%;
  }

  .vector {
    width: 100%;
    aspect-ratio: 3/4;
    top: 40%;
    left: 0;
  }

  .text {
    font-size: 28px;
  }

  .scrolldown {
    display: none;
  }
}

@media only screen and (max-width: 480px) {
  .iam {
    width: 100%;
    max-width: 20px;
    padding-left: 8px;
    padding-right: 8px;
  }

  .text {
    font-size: 20px;
  }
}
