<div class="container">
  <div class="content">
    <div class="content-left">
      <img src="./assets/img/profile/hanbit-chang.png" alt="" />
    </div>
    <div class="content-right">
      <div class="row">
        <div class="i-am">I am</div>
        <div class="name-container">
          <h1>Hanbit Chang</h1>
          <div class="text purple">FRONTEND DEVELOPER</div>
        </div>
      </div>
      <div class="btn">Let's talk!</div>
    </div>
  </div>
  <img class="vector" src="./assets/img/shapes/shape-vector1.svg" alt="" />
  <div class="line-content">
    <div class="line"></div>
    <section class="social-network">
      <a href="https://github.com/hanbit10" target="_blank">
        <img src="./assets/img/buttons/github-button.svg" alt="github" />
      </a>
      <a href="chanbit10@gmail.com">
        <img src="./assets/img/buttons/mail-button.svg" alt="mail" />
      </a>
      <a href="https://www.linkedin.com/in/hanbitchang/" target="_blank">
        <img src="./assets/img/buttons/linked-button.svg" alt="linkedin" />
      </a>
    </section>
    <span>chanbit10&#64;gmail.com</span>
  </div>
</div>
