<div class="container">
  <div class="line-content">
    <div class="line"></div>
    <section class="social-network">
      <a href="https://github.com/hanbit10" target="_blank">
        <img src="./assets/img/buttons/github-button.svg" alt="github" />
      </a>
      <a href="#contact">
        <img src="./assets/img/buttons/mail-button.svg" alt="mail" />
      </a>
      <a href="https://www.linkedin.com/in/hanbitchang/" target="_blank">
        <img src="./assets/img/buttons/linked-button.svg" alt="linkedin" />
      </a>
    </section>
    <span>chanbit10&#64;gmail.com</span>
  </div>
</div>
