<div id="skills" class="container">
  <div class="content">
    <div class="content-left hidden">
      <div class="logo-container">
        <img src="./assets/img/icons/logos/angular.svg" alt="" />
        <img src="./assets/img/icons/logos/typescript.svg" alt="" />
        <img src="./assets/img/icons/logos/javascript.svg" alt="" />
        <img src="./assets/img/icons/logos/html.svg" alt="" />
      </div>
      <div class="logo-container">
        <img src="./assets/img/icons/logos/firebase.svg" alt="" />
        <img src="./assets/img/icons/logos/github.svg" alt="" />
        <img src="./assets/img/icons/logos/css.svg" alt="" />
        <img src="./assets/img/icons/logos/api.svg" alt="" />
      </div>
      <div class="logo-container">
        <img src="./assets/img/icons/logos/scrum.svg" alt="" />
        <img src="./assets/img/icons/logos/material-design.svg" alt="" />
        <img
          class="transparent"
          src="./assets/img/icons/logos/material-design.svg"
          alt=""
        />
        <img
          class="transparent"
          src="./assets/img/icons/logos/material-design.svg"
          alt=""
        />
      </div>
    </div>
    <div class="content-right hidden-right">
      <div class="title-container">
        <h1>{{ translateService.getTranslation("skills.title") }}</h1>
        <div class="line"></div>
      </div>
      <p>
        {{ translateService.getTranslation("skills.text1") }}
      </p>
      <div class="btn">
        <a href="#contact">{{
          translateService.getTranslation("skills.button1")
        }}</a>
      </div>
    </div>
  </div>
  <div class="line-container hidden-right"></div>
</div>
