@import "./../../../styles.scss";

.container {
  height: 100vh;
  position: relative;
  background-image: url("./../../../assets/img/shapes/shape3.svg");
  background-repeat: no-repeat;
  background-size: 30%;
  background-position-y: 55%;
  @include setFlex(row, center, flex-start);
  margin-bottom: 100px;
  overflow: hidden;
}

.content {
  position: relative;
  margin-top: 10vh;
  width: 100%;
  max-width: 1440px;
  padding-left: 100px;
  padding-right: 100px;
  @include setFlex(row, space-between, flex-start);
}

.content-left {
  width: 100%;
  max-width: 720px;
  @include setFlex(column, center, center);
}

.logo-container {
  width: 100%;
  @include setFlex(row, space-around, center);
  img {
    width: 100%;
    max-width: 80px;
    padding-top: 20px;
    padding-bottom: 20px;
    transition: top ease 0.5s;
    &:hover {
      top: -10px;
    }
  }
}

.content-right {
  width: 100%;
  max-width: 570px;
  @include setFlex(column, center, center);
  text-align: center;
  padding-top: 40px;
  z-index: 2;
}

.title-container {
  position: relative;
  @include setFlex(row, center, center);
  .line {
    position: absolute;
    left: 105%;
    width: 100vw;
    height: 4px;
    background-color: $neon-purple;
  }
}

.transparent {
  opacity: 0;
}

.btn {
  @include setButton(160px, fit-content, $neon-green);
  @include setFlex(row, center, center);
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 20px;
  cursor: pointer;
  &:hover {
    transform: scale(1.1);
    background-color: $neon-purple;
    transition: 0.3s ease-in-out;
  }
  transition: 0.3s ease-in-out;

  a {
    text-decoration: none;
    color: white;
  }
}

.line-container {
  @include setFlex(row, flex-start, flex-start);
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 3;
  grid-column-end: 4;
}

@media screen and (max-width: 1100px) {
  .container {
    padding-top: 0;
  }

  .content {
    @include setFlex(column-reverse, center, center);
    padding-left: 50px;
    padding-right: 50px;
  }

  .content-left {
    margin-right: 0;
  }

  .content-right {
    @include setFlex(column, flex-end, flex-end);
    max-width: 100%;

    p {
      max-width: 80%;
      text-align: end;
    }
  }

  .transparent {
    display: none;
  }
}

@media screen and (max-width: 480px) {
  .content {
    padding-left: 25px;
    padding-right: 25px;
  }

  .logo-container {
    img {
      max-width: 50px;
    }
  }
}
