/* You can add global styles to this file, and also import other style files */
$neon-purple: #9747ff;
$neon-blue: #1cdae6;
$neon-green: #70e61c;
$neon-red: #e61c40;
$background-color: #141d2f;

body {
  margin: 0;
  background-color: $background-color;
  font-family: Poppins;
  color: white;
}

html {
  scroll-behavior: smooth !important;
  overflow: hidden;
  overflow-y: scroll;
}

::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 50px;
  background: transparent !important;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $neon-blue;
  border-radius: 50px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(130deg, $neon-blue 0%, $neon-green 100%);
}

@font-face {
  font-family: Poppins;
  src: url("./assets/fonts/poppins-v21-latin-regular.woff2");
}

@font-face {
  font-family: Poppins700;
  src: url("./assets/fonts/poppins-v21-latin-700.woff2");
}

@font-face {
  font-family: Poppins900;
  src: url("./assets/fonts/poppins-v21-latin-900.woff2");
}

@mixin setFont($weight: normal, $size: 24px) {
  font-weight: $weight;
  font-size: $size;
}

@mixin setFlex($direction: row, $justify: center, $align: center) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

@mixin setButton($width: 160px, $height: 60px, $b-color: $neon-green) {
  width: $width;
  height: $height;
  background-color: $b-color;
  color: white;
  border: none;
  border-radius: 16px;
  font-size: 24px;
  font-weight: normal;
  padding-left: 20px;
  padding-right: 20px;
  cursor: pointer;
}

h1 {
  @include setFont(bold, 90px);
  font-family: Poppins700;
  margin: 0;
  color: #ffffff;
}

h2 {
  @include setFont(normal, 64px);
  color: #ffffff;
}

h3 {
  @include setFont(bold, 32px);
  color: $neon-purple;
  font-family: Poppins700;
  margin: 0;
}

h4 {
  @include setFont(bold, 24px);
  color: $neon-green;
  font-family: Poppins;
  margin: 0;
}

@media screen and (max-width: 1100px) {
  h1 {
    font-size: 45px;
  }

  h2 {
    font-size: 32px;
  }
}
